
extends _layout

block headScripts

block styles

block content
    div#react-index

block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5.1/dat.gui.js")
    script(src="js/index.bundle.js")