//1.utils
@import "utils/_mixins.scss";
@import "utils/_colors.scss";
//2.vendors
//3.base
@import "base/_reset.scss";
@import "base/_typography.scss";
//4.layout
@import "layout/_layout.scss";
// @import "layout/_nav.scss";
//5.components
// @import "components/_load.scss"; //html 在 load.js 裡
//6.pages
//7.themes
$listHeight: 700px;
#react-index {
    background: #493b3b;
    height: 100vh;
    min-height: 800px;
    overflow: hidden;
}

.mdBanner {
    $aItemGrid: 100%;
    position: relative;
    z-index: 0;
    width: 100%;
    overflow: hidden;
    min-height: $listHeight;
    margin: 22vh auto 0 0;
    .btnPrev a,
    .btnNext a {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        background: #000;
        display: inline-block;
        padding: 10px;
        line-height: 40px;
        width: 40px;
        height: 40px;
        transition: all 0.5s ease;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
        opacity: 0.4;
        &:hover {
            box-shadow: 0 0 60px 3px rgba(0, 0, 0, 0.2);
            opacity: 1;
        }
    }
    .l-vm {
        height: 100%;
    }
    .btnPrev {
        position: absolute;
        left: -70px;
        top: -30px;
        z-index: 99;
    }
    .btnNext {
        position: absolute;
        right: -70px;
        z-index: 99;
        top: -30px;
    }
    .mdBanner-list {
        position: relative;
        width: $aItemGrid;
        margin: 0 auto;
        transform-style: preserve-3d;
        perspective: 1500px;
        min-height: $listHeight;
        >.mdBanner__item {
            transform-origin: 50% 50%;
            display: block; // box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
            width: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -50%;
            box-shadow: 0 0 9999px rgba(255, 255, 255, 0.8) inset;
            background-size: 100% 100%;
            a {
                display: block;
                transition: all 0.5s ease-in;
                box-shadow: 0 0 70px 13px rgba(0, 0, 0, 0.2), 0 0 0px 10px rgba(255, 255, 255, 1);
                &:hover {
                    box-shadow: 0 0 25px 11px rgba(0, 0, 0, 0.1), 0 0 0px 10px rgba(255, 255, 255, 1);
                }
            }
            img {
                width: 100%;
                display: block;
                visibility: hidden;
            }
        }
    }
}